.App {
  text-align: center;
}

.app__header {
  margin-block: auto;
  margin-top: 3rem;
}

.app__gallery{
  border: 1px solid black;
  margin: 2rem;
}

.gallery__blogSection {
  border: 1px solid black;
  margin: 1rem;
}

.blogSection__blogcard {
  border: 1px solid black;
  margin: 1rem;
}

.blogcard__tagWrapper {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}