.App {
  --_panel-color:#f5383d;
  --_text-color: #235a5a;
  --_button-size: 3rem;
  --_panel-padding: 1rem;
  --_panel-gap: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: var(--_text-color);
  min-height: 100vh;
  position: relative;
}

.app__header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0; left: 0;
  background-color: #f5383d;
  box-shadow: 0px 5px 5px hsl( 0 0% 0% / 0.4);
}

.header__title {
  margin-left: 4.5rem;
  width: fit-content;
}

.app__gallery{
  max-width: 95%;
  margin-top: 5rem;
  margin-inline: auto;
  padding: 0.75rem;
}

.gallery__blogSection {
  border: 1px solid var(--_text-color);
  margin: 1rem;
}

.tagFilter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  margin: 1rem 2rem;
  color: var(--_text-color);
}

.tagFilter__dropdown {
 margin-top: 0.3rem;
 padding-inline: 0.5rem;
}

.blogSection__blogcard {
  border: 1px solid var(--_text-color);
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  gap: 1rem;
}

.blogcard__body {
 text-align: left;
}

.blogcard__tagWrapper {
  align-self: end;
  justify-self: start;
  display: flex;
  gap: 0.5rem;
  margin: 1.75rem;
  color: var(--_panel-color);
}

.app__footer {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  background-color: var(--_panel-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__text {
  padding-left: 1rem;
  padding-bottom: 0.3rem;
}

.footer__image {
  margin-inline: 1rem 4rem;
  aspect-ratio: 1/1;
  height: 1.5rem;
  border-radius: 0.5rem;
}

/*Accordion stylings*/
.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  margin-block: 1rem;
  min-height: 65vh;
  contain: content;
}

.accordion * {
  margin: 0;
}

.accordion__trigger {
  background: transparent;
  display: flex;
  gap: var(--_panel-gap);
  align-items: center;
  flex-direction: row-reverse;
  border: 0;
  padding: 0;
  outline: 0;
  margin-block-end: 1rem;
}


.accordion__icon {
  background-color: var(--_panel-color);
  width: var(--_button-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 10;
}

.accordion__title {
  font-size: 1.75rem;
  font-weight: 700;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
} 

@media (width < 785px) {
  .accordion__title::after {
    content: '';
    position: absolute;
    background-color: var(--_panel-color);
    opacity: 0.6;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size)) * 2);
    height: var(--_button-size);
    z-index: -1;
    border-radius: 1000vw;
  }
}

.accordion__panel {
  scrollbar-width: 0px;
  flex-basis: var(--_button-size);
  overflow: hidden; 
  padding: var(--_panel-padding);
  border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
  transition: flex-basis 500ms, flex-grow 500ms;
}

.accordion__panel::-webkit-scrollbar {
  display: none;
}

.accordion__panel:has([aria-expanded="true"]) {
  flex-basis: clamp(15rem, 40vh, 20rem);
  overflow-y: scroll;
  flex-grow: 1;
}

.accordion__panel:focus-within {
  outline: 2px solid var(--_panel-color);
  outline-offset: 2px;
}

@media (width > 785px) {
  .accordion {
    flex-direction: row;
    height: 30rem;
    padding: 1rem 0.5rem;
  }

  .accordion__panel:has([aria-expanded="false"]) .accordion__trigger {
    flex-direction: column-reverse;
  }

  .accordion__panel:has([aria-expanded="false"]) .accordion__title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.accordion__content {
  margin-left: var(--_panel-padding);
  transform: translateY(2rem);
  opacity: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.accordion__panel:has([aria-expanded="true"]) .accordion__content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms 500ms, opacity 500ms 500ms;
}

@media (width < 430px) {
  .accordion__content {
    margin-left: -0.4rem;
  }
}